<div id="home" class="container-fluid">
	<div class="home-header"></div>
	<img class="image-helene-flo" src="../img/home/helene-flo.png">
	<div class="row" ng-show="!showIGoForm">
	  <div class="col-md-3"></div>
	  <div class="col-md-4"></div>
	  <div class="col-md-2">
  		<img class="image-fleche image-fleche-haut-bas" src="../img/home/fleche-haut-bas.png">
	  </div>
  	  <div class="col-md-3 info-for-btn">Cliquez ici pour nous avertir <br> de votre présence ou absence.</div>		
	</div>
	<div class="row" ng-show="!showIGoForm">
	  <div class="col-md-3"></div>
	  <div class="col-md-3">
	  	<a class="btn btn-default btn-home" ng-href="index.html#/map">La carte </a>
	  </div>
	  <div class="col-md-3">
	  	<button class="btn btn-default btn-home" ng-click="iGoClicked()">Je viens !</button>
	  </div>
	  <div class="col-md-3"></div>
	</div>
	<div class="row" ng-show="!showIGoForm">
	  <div class="col-md-3 info-for-btn">Cliquez ici pour obtenir toutes les informations <br> concernant la journée, l'hébergement ...</div>
	  <div class="col-md-2"><img class="image-fleche image-fleche-bas-haut" src="../img/home/fleche-bas-haut-grande.png"></div>
	  <div class="col-md-4"></div>
  	  <div class="col-md-3"></div>
	</div>
	<div class="row" ng-if="showIGoForm">
		<div class="col-md-12">
			<iframe class="iFrameIGoForm" src="https://docs.google.com/forms/d/1tLU0hz_obDyYlK2CX8Ee-_tOLUwbovEeFLlUJIcnyW8/viewform??embedded=true&quot;" frameborder="0" marginheight="0"
				 marginwidth="0">Loading...</iframe>
		</div>
		
	</div>
	<div class="row" ng-show="showIGoForm">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
	  		<button class="btn btn-default btn-home" ng-click="closeIGoClicked()">Fermer le formulaire</button>
  		</div>
  		<div class="col-md-3">
		</div>
  	</div>
</div>